<div class="container mt-5 mb-5">	
    <div class="card">	
        <div class="row g-0">	
        <div class="col-md-6 border-end">	
            <div *ngIf="noImages; else elseBlock" class="d-flex flex-column justify-content-center">	
                <div class="main_image">	
                    <img id="slideImageMain" src="assets/Logo.ico" id="main_product_image" width="350">	
                </div>	
                <div class="thumbnail_images">	
                    <ul id="thumbnail">	
                        <li *ngFor="let index of noImages;">
                            <img id="slideImage{{index}}" (click)="changeImage($event)" src="assets/Logo.ico" width="70">
                        </li>		
                    </ul>	
                </div>	
            </div>
            
            <ng-template #elseBlock>
                <div class="d-flex flex-column justify-content-center">	
                    <div class="main_image">	
                        <img src="../../../assets/Logo.ico" id="main_product_image" width="350">	
                    </div>	
                    <div class="thumbnail_images">	
                        <ul id="thumbnail">	
                            <li><img (click)="changeImage($event)" src="../../../assets/Logo.ico" width="70"></li>		
                        </ul>	
                    </div>	
                </div>
    
            </ng-template>
        </div>	



        <div class="col-md-6">	
            <div class="p-3 right-side">	

                <div class="userCard" >
                    <div class="userCardItem">
                        <img  #profileImage class="rounded-circle" (click)="userProfile()" id="profileImage" src="https://bootdey.com/img/Content/avatar/avatar7.png" >
                    </div>
                
                    <div class="userCardItem" style="flex-direction: column; align-items: center; margin-top: 4%; ">
                        <mat-card-subtitle  style="cursor: pointer; display: flex;" (click)="userProfile()">{{jobOfferCreationName}}</mat-card-subtitle>
                        <mat-card-subtitle style="cursor: pointer; display: flex;" (click)="userProfile()">{{jobOfferEmail}}</mat-card-subtitle>
                        <app-star-rating style="margin-left:25%;" [rating]="rating" [totalnofeedbacks] = "totalnofeedbacks"></app-star-rating>
                    </div>


                </div>


                <div class="d-flex justify-content-between align-items-center marginTop10" >	
                    <h3>
                        {{jobOfferTitle}}
                    </h3>		
                </div>	
                <div class="mt-2 pr-3 content marginTop10">	
                    <p>
                        {{jobOfferDescription}}
                    </p>	
                </div>	

                <h3 class="marginTop5">Price range:</h3>
                <h4>RON {{jobOfferLowPrice}} - RON {{jobOfferHighPrice}}</h4>	


                <div *ngIf="!skills" >	
                    <span class="fw-bold">Skills</span>	
                    <div class="colors">	
                            <p class="skill" *ngFor="let skill of skills" style="display:flex ;">{{skill}}</p>		
                    </div>	
                </div>	

                <div *ngIf="jobOfferCity" >	
                    <span class="fw-bold">City</span>	
                    <p >{{jobOfferCity}}</p>		
                </div>

                <div *ngIf="jobOfferLocation" >	
                    <span class="fw-bold">Location</span>	
                    <p >{{jobOfferLocation}}</p>		
                </div>

                <div class="closeContractButton" *ngIf="isCreationUserLoggedIn && jobOfferAvailable == false; else blockElse">
                    <button mat-raised-button color="primary" (click)="closeContract()" >Close Contract</button>
                </div>

                <ng-template #blockElse >
                    <button *ngIf="isCreationUserLoggedIn" mat-raised-button color="primary" (click)="deleteJobOffer()" >Delete JobOffer</button>
                </ng-template>
            </div>	
        </div>	
        </div>	
    </div> 
    <hr>

    <!-- --------------------------- ------------------------------ Offers START --------------------------- ----------------------- -->
    <div >

        <header class="mb-4 pb-3">
                <div>
                    <span  class="mr-md-auto">{{noOfItems}} Items found </span>
                    <select (change)="changeSort($event)" [(ngModel)]="selectedSort" class="mr-2 form-control">
                        <option value="0">No sort</option>
                        <option value="1">Latest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Expensive</option>
                        <option value="4">Cheapest</option>
                    </select>
                </div>
        </header>


        <div id="containerOffers">
            <div class="everyOffer" *ngFor = "let offer of offers">
                <app-offer-info
                [creationUserName] = "offer.creationUserName"
                [creationUserTitle] = "offer.creationUserTitle"
                [creationUserId] = "offer.creationUserId"
                [paymentAmount] = "offer.paymentAmount"
                [description] = "offer.description"
                [dateCreated] = "offer.dateCreated"
                [id] = "offer.id"
                [isCreationUserLoggedIn]= "isCreationUserLoggedIn"
                [jobOfferId]="id"
                [showGreen]="offer.available == true && jobOfferAvailable == false"
                (acceptedOfferEvent) = "acceptEvent($event)"
                [available]="offer.available"
                ></app-offer-info>
            </div>
        </div>


        <mat-paginator #paginator [length]="noOfItems" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
        


	</div>
    <!-- --------------------------- ------------------------------ Offers END --------------------------- ----------------------- -->
    
    <div *ngIf="!isCreationUserLoggedIn">

        <div id ="succesPopup"  class="alert alert-success" role="alert">
            <a class="close" (click)="closePopup()" >&times;</a>
            <h4 id="popupTitle" class="alert-heading">Well done!</h4>
            <p id="popupMessage"></p>
        </div>



        <hr>
        <div id="formHeader">
        <p class="form-group">Post an offer</p>
        </div>
        <div id="formContent">
        <form [formGroup] = "offerForm" (ngSubmit)="submitOffer()">
            <div class="form-group">
                <label id="titleL">Price per hour</label>
                <div class="inputForm">
                    <input id="titleI" type ="number" class="form-control" formControlName="paymentAmount"
                    [ngClass]="offerForm.controls['paymentAmount'].errors && (offerForm.controls['paymentAmount'].dirty || offerForm.controls['paymentAmount'].touched ) ? 'is-invalid' :''">
                </div>
    
            </div>
    
            <div class="errors">
    
                <ng-container *ngIf="offerForm.controls['paymentAmount'].errors && offerForm.controls['paymentAmount'].dirty">
                    <small class="formError">Price must be a number</small>
                </ng-container>
    
                <ng-container *ngIf="offerForm.controls['paymentAmount'].errors?.['required'] &&  offerForm.controls['paymentAmount'].touched ">
                    <small class="formError">Price can not be empty!</small>
                </ng-container>
            </div>
    
            <div class="form-group">
                <label id="descL">Description</label>
                <div class="inputForm">
                    <textarea id="descI" rows="5" cols="2" class="form-control" formControlName="description"
                    [ngClass]="offerForm.controls['description'].errors && (offerForm.controls['description'].dirty || offerForm.controls['description'].touched) ? 'is-invalid' :''"></textarea>
                </div>
    
            </div>
    
    
            <div class="errors">
                <ng-container *ngIf="offerForm.controls['description'].errors?.['required'] && (offerForm.controls['description'].dirty || offerForm.controls['description'].touched )">
                    <small class="formError">Description can not be empty!</small>
                </ng-container>
            </div>
    
            <div class="buttonRegisterDiv" >
                <button id="buttonRegister" [disabled]="offerForm.invalid" type="submit" class="btn btn-success">Post</button>
            </div>
    
        </form>
        </div>
    </div>


</div>
