a{
    color: whitesmoke;
    font-size: medium;
}

nav {
    box-shadow: 0 5px 4px 0 rgba(5, 109, 245, 0.2);
  }


.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:rgb(10, 163, 245);
}

#navbarBlueDropdownMenuLink:hover, #navbarBlueDropdownMenuLink:focus{
  color:rgb(10, 163, 245);
}
#profileImage{
    border-radius: 30%;
    width: 8%;
    padding-right: 0.5vw;
  }