a{
    color: whitesmoke;
    font-size: medium;
}

nav {
    box-shadow: 0 5px 4px 0 rgba(5, 109, 245, 0.2);
  }


.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:rgb(10, 163, 245);
}

#navbarBlueDropdownMenuLink:hover, #navbarBlueDropdownMenuLink:focus{
  color:rgb(10, 163, 245);
}
#profileImage{
    border-radius: 30%;
    width: 45%;
    padding-right: 0.5vw;
  }


.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -5%;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
    
.dropdown-menu > li:hover > .dropdown-submenu {
  height: auto;
  max-height: 25vh;
  width: 18vw;
  overflow-y: scroll;
  overflow-x: scroll;
  display: block;
}



#navbarBlueDropdownMenuLink{
  width: 40%;
}

#profileNavItem{
  width: 50%;
}

:host ::ng-deep .change-color {
  background-color: red;
  transform: scale(0.7) translateX(50%) translateY(-50%);
}

.dropdown-item-red{
  background-color: rgb(115, 35, 35);
  
}


.dropdown-item-red:hover{
  background-color: rgb(38, 6, 6) !important;
  
}


