<!-- A grey horizontal navbar that becomes vertical on small screens -->

<div *ngIf="adminMode" style="display:flex; position: absolute; z-index: 5; margin-top: 2.5vh; margin-left: 40vw;">
  <a style="display: flex;" href="users">Users</a>

  <p style="color: red; font-size:large; font-weight:500;margin-inline: 2vw; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">ADMIN MODE</p>

  <a style="display:flex;" href="skills">Skills</a>

</div>
<nav class="navbar navbar-expand-sm bg-dark">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-left: 12vw;">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="joboffers">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Freelancers</a>
      </li>

      <li *ngIf="!loginName" class="nav-item" style="margin-left: 44vw;">
        <a class="nav-link" href="login">Authenticate</a>
      </li>
      <li *ngIf="!loginName" class="nav-item">
        <a class="nav-link" href="register">Register</a>
      </li>
      <li *ngIf="loginName" class="nav-item" style="margin-left: 42vw;">
        <div class="collapse navbar-collapse" id="navbarNavBlueDropdown">
          <ul>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarBlueDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
                <img #profileImage id="profileImage" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                   
                <strong>{{loginName}}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarBlueDropdownMenuLink">
                <li><a class="dropdown-item" (click) = "myProfile()">Profile</a></li>
                <li><a class="dropdown-item" href="chat">Chat Room</a></li>
                <li><a class="dropdown-item" href="#">Pending Offers</a></li>
                <li><a class="dropdown-item" (click)="signOut()" href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>



</nav>