<!-- A grey horizontal navbar that becomes vertical on small screens -->

<div *ngIf="adminMode" style="display:flex; position: absolute; z-index: 5; margin-top: 2.5vh; margin-left: 40vw;">
  <a style="display: flex;" href="users">Users</a>

  <p style="color: red; font-size:large; font-weight:500;margin-inline: 2vw; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">ADMIN MODE</p>

  <a style="display:flex;" href="skills">Skills</a>

</div>
<nav class="navbar navbar-expand-sm bg-dark">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-left: 12vw;">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="joboffers">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="freelancers">Users</a>
      </li>

      <li *ngIf="!loginName" class="nav-item" style="margin-left: 44vw;">
        <a class="nav-link" href="login">Authenticate</a>
      </li>
      <li *ngIf="!loginName" class="nav-item">
        <a class="nav-link" href="register">Register</a>
      </li>
      <li *ngIf="loginName" class="nav-item" style="margin-left: 42vw;">
        <div class="collapse navbar-collapse" id="navbarNavBlueDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown" id="profileNavItem">
              <a class="nav-link dropdown-toggle" href="#" id="navbarBlueDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
                <img #profileImage id="profileImage" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                   
                <strong>{{loginName}}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarBlueDropdownMenuLink">
                <li><a style="cursor:pointer ;" class="dropdown-item" (click) = "myProfile()">Profile</a></li>
                <li><a class="dropdown-item" href="chat">Chat Room</a></li>

                <li><a class="dropdown-item" (click)="signOut()" href="#">Sign Out</a></li>
              </ul> 
            </li>





            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-layers  [fixedWidth]="true">
                  <fa-icon size="1x" [icon]="faBell"></fa-icon>
                  <fa-layers-counter *ngIf="counterNotifications > 0" content="{{counterNotifications}}" [classes]="['change-color']"></fa-layers-counter>
              </fa-layers>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLinkRight">
                <li>
                  <a class="dropdown-item" href="#">
                    &laquo; My Active Offers 
                    <fa-layers  [fixedWidth]="true">
                      <fa-layers-counter *ngIf="counterNotificationActiveOffers > 0" content="{{counterNotificationActiveOffers}}" [classes]="['change-color']"></fa-layers-counter>
                    </fa-layers>
                  </a>

                  <ul *ngIf="offersList.length > 0; else elseBlock1" class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                    
                    <li  *ngFor="let offer of offersList">
                      <a [ngClass]="{'dropdown-item-red': offer.viewed == false}" style="cursor: pointer;" (click)="GoToJobOfferAndViewNotificationCreateOffer(offer)" class="dropdown-item" >{{offer.jobOfferTitle}} with <strong>{{offer.paymentAmount}} RON </strong>  from {{offer.dateCreated | date}} </a>
                    </li>
                    
                  </ul>

                  <ng-template #elseBlock1>
                    <ul  class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                      <li>
                        <a class="dropdown-item">Empty</a>
                      </li>
                    </ul>
                  </ng-template>
                </li>
                <li>
                  <a style="cursor: pointer;" class="dropdown-item">
                    &laquo; My Accepted Offers
                    <fa-layers  [fixedWidth]="true">
                      <fa-layers-counter *ngIf="counterNotificationsMyAcceptedJobOffers > 0" content="{{counterNotificationsMyAcceptedJobOffers}}" [classes]="['change-color']"></fa-layers-counter>
                    </fa-layers> 
                  </a>
                  <ul *ngIf="acceptedOffersList.length > 0; else elseBlock3" class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                    
                    <li  *ngFor="let offer of acceptedOffersList">
                      <a [ngClass]="{'dropdown-item-red': offer.viewed == false}" style="cursor: pointer;" (click)="GoToJobOfferAndViewNotificationMyAcceptedOffers(offer)" class="dropdown-item" >{{offer.jobOfferTitle}} with <strong>{{offer.paymentAmount}} RON </strong>  from {{offer.dateCreated | date}} </a>
                    </li>
                    
                  </ul>

                  <ng-template #elseBlock3>
                    <ul  class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                      <li>
                        <a class="dropdown-item">Empty</a>
                      </li>
                    </ul>
                  </ng-template>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    &laquo; My Active Job Offers
                    <fa-layers  [fixedWidth]="true">
                      <fa-layers-counter *ngIf="counterNotificationsActiveJobOffers > 0" content="{{counterNotificationsActiveJobOffers}}" [classes]="['change-color']"></fa-layers-counter>
                    </fa-layers>
                  </a>
                  <ul *ngIf="jobOffersList != null && jobOffersList.length > 0; else elseBlock2" class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                    
                    <li  *ngFor="let joboffer of jobOffersList">
                      <a [ngClass]="{'dropdown-item-red': joboffer.viewed == false}" style="cursor: pointer;" (click)="GoToJobOfferAndViewNotificationCreateOfferJB(joboffer)" class="dropdown-item" >{{joboffer.title}} from {{joboffer.dateCreated | date}} </a>
                    </li>
                    
                  </ul>

                  <ng-template #elseBlock2>
                    <ul  class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                      <li>
                        <a class="dropdown-item">Empty</a>
                      </li>
                    </ul>
                  </ng-template>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    &laquo; Jobs To Pay For
                  </a>
                  <ul *ngIf="pendingJobs != null && pendingJobs.length > 0; else elseBlock4" class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                    
                    <li  *ngFor="let joboffer of pendingJobs">
                      <a  href="jobofferpage/{{joboffer.id}}" class="dropdown-item" >{{joboffer.title}} from {{joboffer.dateCreated | date}} </a>
                    </li>
                    
                  </ul>

                  <ng-template #elseBlock4>
                    <ul  class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                      <li>
                        <a class="dropdown-item">Empty</a>
                      </li>
                    </ul>
                  </ng-template>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    &laquo; Closed Job Contracts
                    <fa-layers  [fixedWidth]="true">
                      <fa-layers-counter *ngIf="counterNotificationsMyClosedJobOffers > 0" content="{{counterNotificationsMyClosedJobOffers}}" [classes]="['change-color']"></fa-layers-counter>
                    </fa-layers>
                  </a>
                  <ul *ngIf="closedJobOfferList != null && closedJobOfferList.length > 0; else elseBlock5" class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                    
                    <li  *ngFor="let joboffer of closedJobOfferList">
                      <a  (click)="showFeedbackDialog(joboffer)"  style="cursor: pointer;" class="dropdown-item" >{{joboffer.creationUserName}} -> {{joboffer.title}} from {{joboffer.dateCreated | date}} </a>
                    </li>
                    
                  </ul>

                  <ng-template #elseBlock5>
                    <ul  class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                      <li>
                        <a class="dropdown-item">Empty</a>
                      </li>
                    </ul>
                  </ng-template>
                </li>
              </ul>

               
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>



</nav>