.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}



.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}


.card-product-grid .info-wrap {
    overflow: hidden;
}

[class*='card-product'] a.title {
    color: #212529;
    display: block;
}


.title{
    font-size: 20px;
}


.card-product-grid:hover .btn-overlay {
    opacity: 1;
}
.card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

.viewButton{
    padding-top: 2vh;
    padding-left: 5vw;
    padding-bottom: 2vh;
}

.fix-height{
    margin-left: 5%;
    height: 100%;
}

.info{
    font-size: medium;
    padding-top: 5%;
}

.skills{
    display: flex;
    flex-wrap: wrap;

}

.skillItem {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #337ab7;
    padding: 0 3px;
    margin-top: 4px;
    color: #fff;
    border-radius: 2px;
    float: left;
}
