<div id="home">

    <div class="logoBox">
        <div id="logo1">Make the most</div>
        <div id="logo2">of your time</div>
    </div>




    <div id="hirebtn">
        <button  type="button" class="btn btn-info">Hire Freelancer</button>
    </div>



    <div id="earnbtn">
        <button  type="button" class="btn btn-info">Earn Money</button>
    </div>
</div>
<div class="aboutContainer">
    <h2>Need something done?</h2>
    <div class="aboutBox">
        <div class="inAboutBox">
            <img class="aboutImgs" src="https://www.f-cdn.com/assets/main/en/assets/illustrations/project/post-a-project.svg">
            <p class="aboutTitle">Post a job</p>
            <div class="aboutDescription">
                <p >It’s free and easy to post a job. Simply fill in a title, description and budget and competitive bids come within minutes.</p>
            </div>
        </div>
        <div>
            <img class="aboutImgs" src="https://www.f-cdn.com/assets/main/en/assets/illustrations/freelancer/work.svg">
            <p class="aboutTitle">Choose freelancers</p>
            <div class="aboutDescription">
                <p >There is always someone there for your requirements. Help is just a click away!</p>
            </div>
        </div>

    </div>
</div>