.yellowStar{
    color: rgb(196, 178, 15);
  }

.inlineDiv{
    display: flex;
    width: 10vw
}

.stars{
    margin-right: 5%;
    display: flex;
}

.grade{
    display: flex;
    margin-right: 6%;
}

.nofeedbacks{
    display: flex;
}