


.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list-menu a {
    color: #343a40;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

[class*='card-product'] a.title {
    color: #212529;
    display: block;
}

.title{
    font-size: medium;
}
.card-product-grid:hover .btn-overlay {
    opacity: 1;
}


.container{
    padding-top: 5%;
    padding-bottom: 5%;
}

#containerJobOffers{
    position: relative;
    display: flex;
    flex-flow:wrap;
}

.everyOffer{
  flex: 0 1 27%; /* explanation below */
  margin-top: 5vh;
  margin-bottom: 1vh;
  margin-right: 3vw;
  width: 5vw;
  height: 100%;
}

::ng-deep .mat-paginator{
    font-size: large;
    margin-right: 40%;
}

::ng-deep .mat-select-value {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
::ng-deep .mat-option-text {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputForm{
    width: 75%;
}

.priceInputs{
    display: flex;
}

#MinValue{
    margin-right: 5%;
}
