
<div class="container">
	<div class="row">
		<aside class="col-md-3">
			<button (click)="createJobOffer()"  style="margin-bottom: 2%; width: 100%; margin-top: 6%;"  class="btn btn-block btn btn-info">Create Job Offer</button>
			<div class="card">

				<form [formGroup] = "myForm" (ngSubmit)="getAllJobOffers()">
					<article class="filter-group">
						<header class="card-header">
							<h6 class="title">Creator Name</h6>
						</header>
						<div>
							<div class="card-body">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search" formControlName="creatorName">
										<div class="input-group-append">
											<button class="btn btn-block btn btn-info" type="submit">Apply</button>
										</div>
									</div>
	
							</div> <!-- card-body.// -->
						</div>
					</article>
	
					<article class="filter-group">
						<header class="card-header">
							<h6 class="title">City</h6>
						</header>
						<div>
							<div class="card-body">
									<div class="input-group">
										<mat-select class="form-control" placeholder="Select City" formControlName="cityId">
											<mat-option *ngFor="let city of cities" [value]="city.id">
												{{city.name}}
											</mat-option>
										  </mat-select>
										<div class="input-group-append">
											<button class="btn btn-block btn btn-info" type="submit">Apply</button>
										</div>
									</div>
	
							</div> <!-- card-body.// -->
						</div>
					</article>
	
	
					<article class="filter-group">
						<header class="card-header">
							<h6 class="title">Keywords</h6>
						</header>
						<div>
							<div class="card-body">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search" formControlName="keywords">
										<div class="input-group-append">
											<button class="btn btn-block btn btn-info" type="submit">Apply</button>
										</div>
									</div>
	
							</div> <!-- card-body.// -->
						</div>
					</article>
	
	
					<article class="filter-group">
						<header class="card-header">
							<h6 class="title">Skills</h6>
						</header>
						<div>
							<div class="card-body">
									<div class="input-group">
										<div class="inputForm">
											<ng-multiselect-dropdown
											[settings]="dropdownSettings"
											[data]="dropdownList"
											formControlName="skills">
										</ng-multiselect-dropdown>
										</div>
										<div class="input-group-append">
											<button class="btn btn-block btn btn-info" type="submit" >Apply</button>
										</div>
									</div>
	
							</div>
						</div>
					</article>
	
	
					<article class="filter-group">
						<header class="card-header">
							<h6 class="title">Price range </h6>
						</header>
						<div>
							<div class="card-body">
								<div class="priceInputs">
									<div id="MinValue">
									<label style="font-size: medium;">Min</label>
									<input class="form-control" placeholder="RON 0" type="number" min="0" formControlName="lowPriceRange"
									[ngClass]="myForm.controls['lowPriceRange'].errors && ( myForm.controls['lowPriceRange'].dirty || myForm.controls['lowPriceRange'].touched) ? 'is-invalid' :''">
									</div>
									
									<div id="MaxValue">
									<label style="font-size: medium;">Max</label>
									<input class="form-control" placeholder="RON 1,0000" type="number" min="1" formControlName="highPriceRange"
									[ngClass]="myForm.controls['highPriceRange'].errors ? 'is-invalid' :''">
									</div>
								</div>
				
								<div>
									<ng-container  *ngIf="myForm.controls['highPriceRange'].errors?.['min'] && (myForm.controls['highPriceRange'].dirty || myForm.controls['highPriceRange'].touched)">
										<small class="formError">Invalid price range!</small>
									</ng-container>
								</div>


								<div style="margin-left:35%; margin-top:5%">
									<button class="btn btn-block btn-info" type="submit">Apply</button>
								</div>

							</div><!-- card-body.// -->
						</div>

					</article>
				</form>



			</div> <!-- card.// -->

			<button (click)="clearFilter()"  style="margin-bottom: 2%; width: 100%; margin-top: 6%;"  class="btn btn-block btn btn-info">Clear Filters</button>
		</aside>

		<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
						<div>
							<span  class="mr-md-auto">{{length}} Items found </span>
							<select (change)="changeSort($event)" [(ngModel)]="selectedSort" class="mr-2 form-control">
								<option value="1">Latest</option>
								<option value="2">Oldest</option>
								<option value="3">Expensive</option>
								<option value="4">Cheapest</option>
							</select>
						</div>
				</header>

				<mat-slide-toggle *ngIf="showMyOffers" (change)="changeMyoffers($event)">My Offers</mat-slide-toggle>

				<div id="containerJobOffers">
					<div class="everyOffer" *ngFor = "let job of joboffers">
						<app-joboffer-info
						[creationName] = "job.lastName +' '+ job.firstName" 
						[creationId] = "job.idCreationUser"
						[description] = "job.description"
						[lowPrice] = "job.lowPriceRange"
						[highPrice] = "job.highPriceRange"
						[daysAgo] = "job.daysAgo"
						[id] = "job.idJobOffer"
						[title] = "job.title"
						[location]="job.location"
						[skills]="job.skills"
						[city]="job.city"
						[noImages]="job.noImages">>
						</app-joboffer-info>
					</div>
				</div>

				<div id="centerPaginator">
					<mat-paginator #paginator [length]="length" [pageIndex]="currentPage" [pageSize]="pageSize"
					[pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
					</mat-paginator>
				</div>



		</main>
	</div>
</div>

