#header{
    padding-left: 15%;
}

#searchbar{
    padding-left: 5%;
    padding-right: 10%;
}

#body{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

#loginName{
    color: aquamarine;
    font-style: italic;
    border-radius: 20%;
    border-style: double;
    border-color: black;
}

#containerContracts{
    padding-bottom: 5%;
}